data-raw/ssvd_himd/himd_2025-10-06.zip filter=lfs diff=lfs merge=lfs -text
data-raw/*.zip filter=lfs diff=lfs merge=lfs -text
data-raw/ssvd_hmd/hmd_statistics_20240226.zip filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
data-raw/ssvd_lfp/lfp_data_2025-10-17.zip filter=lfs diff=lfs merge=lfs -text
